<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" contents="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>

<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1-1">
                        <img
                         src="images/profile.png" 
                         width="156px" 
                         height="142px" 
                         alt="">
                    </div>
                    <div class="left_1-2"><%=user.name%></div>
                    <div class="left_1-3"><%=user.profession%></div>
                    <div class="left-icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector-1.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector-2.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector-3.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector-4.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Vector-5.svg" class="icon-1">
                            </div>
                        </a>

                    </div>
                </div>

                <div class="marginer"></div>

                <div class="left_2">
                    <div class="user-info">
                        <div class="user-info-title">Age:</div>
                        <div class="user-info-number">34</div>
                    </div>

                    <div class="user-info">
                        <div class="user-info-title">Residence:</div>
                        <div class="user-info-number">DB</div>
                    </div>

                    <div class="user-info">
                        <div class="user-info-title">Frelance:</div>
                        <div class="user-info-number" id="green">Avelable</div>
                    </div>

                    <div class="user-info">
                        <div class="user-info-title">Adress:</div>
                        <div class="user-info-number">Tashkent, UZB</div>
                    </div>
                </div>
                <div class="marginer-1"></div>
                <div class="left_3">
                    <h2>Language</h2>
                    <div class="lang">
                        <div class="text">
                            <p>Bangla</p>
                            <p>100%</p>
                        </div>
                        <div class="level-1">
                        </div>
                    </div>

                    <div class="lang">
                        <div class="text">
                            <p>English</p>
                            <p>80%</p>
                        </div>
                        <div class="level-2">
                        </div>
                    </div>

                    <div class="lang">
                        <div class="text">
                            <p>Korean</p>
                            <p>60%</p>
                        </div>
                        <div class="level-3">
                        </div>
                    </div>
                </div>     
               
                <div class="marginer-1"></div>
               
                <div class="left_4">
                    <h2>Skills</h2>
                    <div class="lang">
                        <div class="text">
                            <p>HTML</p>
                            <p>90%</p>
                        </div>
                        <div class="level-1">
                        </div>
                    </div>

                    <div class="lang">
                        <div class="text">
                            <p>CSS</p>
                            <p>85%</p>
                        </div>
                        <div class="level-1">
                        </div>
                    </div>

                    <div class="lang">
                        <div class="text">
                            <p>JS</p>
                            <p>80%</p>
                        </div>
                        <div class="level-1">
                        </div>
                    </div>

                    <div class="lang">
                        <div class="text">
                            <p>PHP</p>
                            <p>75%</p>
                        </div>
                        <div class="level-1">
                        </div>
                    </div>

                    <div class="lang">
                        <div class="text">
                            <p>Word Press</p>
                            <p>85%</p>
                        </div>
                        <div class="level-1">
                        </div>
                    </div>

                </div>
               
                <div class="marginer-1"></div>
                
                <div class="left_5">
                    <h2>Extra Skills</h2>
                    <div class="lang">
                        <div class="text">
                            <img src="icon/blog/left-5.svg" alt="">
                            <p class="it">Bootstrap, Materialize</p>
                        </div>
                    </div>

                    <div class="lang">
                        <div class="text">
                            <img src="icon/blog/left-5.svg" alt="">
                            <p class="it">Stylus, Sass, Less</p>
                        </div>
                    </div>

                    <div class="lang">
                        <div class="text">
                            <img src="icon/blog/left-5.svg" alt="">
                            <p class="it">Gulp, Webpack, Grunt</p>
                        </div>
                    </div>

                    <div class="lang">
                        <div class="text">
                            <img src="icon/blog/left-5.svg" alt="">
                            <p class="it">GIT Knowledge</p>
                        </div>
                    </div>

                </div>
                
                <div class="marginer-1"></div>
            </div>
            <div class="midd_frame">
                <div class="about-me">
                    <div>
                        <h2>Doctor neurologists
                            in OHSU Hospital </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
                        
                        <button>HERE ME</button>
                    </div>
                    <div style="height: 100px; width: 100px;">
                        <img src="images/my_image.png" alt="">
                    </div>
                </div>
                <div class="services">
                    <div class="info">
                        <h2>My Services</h2>
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</p>
                    </div>
                        <div class="box">
                        <div class="inner-box">
                            <img src="icon/box/coding.svg" alt="">
                            <h4>Web Development</h4>
                            <p>blog, e-commerce</p>
                        </div>
                        <div class="inner-box">
                            <img src="icon/box/illustration.svg" alt="">
                            <h4>UI/uX Design</h4>
                            <p>Mobile app, website design</p>
                        </div>
                        <div class="inner-box">
                            <img src="icon/box/Microphone.svg" alt="">
                            <h4>Sound design</h4>
                            <p>Voice Over, Beat Making</p>
                        </div>
                        <div class="inner-box">
                            <img src="icon/box/game-development.svg" alt="">
                            <h4>Game Design</h4>
                            <p>Character Design, Props & Objects</p>
                        </div>
                        <div class="inner-box">
                            <img src="icon/box/Photographer.svg" alt="">
                            <h4>Potography</h4>
                            <p>portrait, product photography</p>
                        </div>
                        <div class="inner-box">
                            <h4>Advertising</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </p>
                            <p class="order">ORDER NOW ></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right_frame">
            <div class="wrapper">
                <div class="mode">
                    <img src="icon/blog/contrast.svg" alt="">
                </div>
                <div class="home">
                   <span class="home_header">Home</span>
                   <div class="home-icon">
                    <div class="blog">
                        <img src="icon/blog/home.svg" alt="">
                    </div>
                    <div class="blog">
                        <img src="icon/blog/contact.svg" alt="">
                    </div>
                    <div class="blog">
                        <img src="icon/blog/Cv.svg" alt="">
                    </div>
                    <div class="blog">
                        <img src="icon/blog/Portfolio.svg" alt="">
                    </div>
                    <div class="blog">
                        <img src="icon/blog/service.svg" alt="">
                    </div>
                    <div class="blog">
                        <img src="icon/blog/Photograoher.svg" alt="">
                    </div>
                   </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>